annotated-types==0.7.0
asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
crispy-bootstrap5==2024.10
cryptography==44.0.0
dj-database-url==2.3.0
dj-email-url==1.0.6
Django==5.1.4
django-allauth==65.3.0
django-bootstrap-datepicker-plus==5.0.5
django-cache-url==3.4.5
django-crispy-forms==2.3
environs==11.2.1
idna==3.10
marshmallow==3.23.2
numpy==2.2.1
oauthlib==3.2.2
packaging==24.2
pandas==2.2.3
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
whitenoise==6.8.2
