{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create Record{% endblock title %}

{% block content %}
<h2 class="my-3">Create entry</h2>
<form method="post" class="form-control p-3">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="container d-flex justify-content-begin">
        <input class="btn btn-primary" type="submit" value="Reckon">
        <a class="btn btn-success" href="{% url "view_record" %}">View Reckon</a>
    </div>
</form>

{% endblock content %}
