{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ view_name }} Transaction{% endblock title %}

{% block content %}
<h2 class="my-3">{{ view_name }} Transaction</h2>
<form method="post" class="form-control p-3">
    {% csrf_token %}
    <div class="container">
        {{ form | crispy }}
    </div>
    <div class="container">
        <h2 class="my-3">{{ view_name }} Entries</h2>
        {{ entry_formset.management_form }}
        {% for error in formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        <table class="table-light">
            {% for form in entry_formset %} <!--TODO decomponent and style-->
            <div class="form-row">
                <span class="ms-auto">{{ form | crispy }}</span>
            </div>
            {% endfor %}
        </table>
    </div>
    <div class="container d-flex justify-content-begin">
        <input class="btn btn-primary" type="submit" value="{{ view_name }}">
        <a class="btn btn-warning ms-auto" href="{% url "transaction_list" %}">Back to List</a>
        {% if view_name == "Update" %}
        <a class="btn btn-danger ms-auto" href="{% url "transaction_delete" object.slug %}">- Delete Transaction</a>
        {% endif %}
    </div>
</form>

<script>
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
        });
    });
</script>
    
{% endblock content %}