{% extends 'base.html' %}

{% block title %}
  Homepage
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mt-3 bt-3">Homepage</h1>
    <hr />
    <div class="bg-success align-items-center justify-content-center py-5 px-3" id="background">
      <div class="container-fluid">
        <div class="row">
          <h2 class="h1 col-4 col-item text-white">Streamline your personal finances with effective tools. <span class="text-dark">Digital solutions</span> for smarter resource management.</h2>
        </div>
        <div class="row">
          <small class="col-4 col-item text-white">...leverage double-entry bookkeeping to ensure accurate and balanced financial records.</small>
        </div>
        <div class="row">
          <a href="{% url 'journal-list' %}" class="btn col-1 col-item d-flex text-dark btn-success-dark fs-1 text-wrap">View Journal</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
