<div class="table-responsive-md">
    <table
        class="table table-hover table-light align-middle"
            >
        <thead class="table-light">
            <tr>
                <th>Date</th>
                <th>Code</th>
                <th>Name</th>
                <th>Receipt</th>
                <th>Amount</th>
            </tr>
        </thead>
        {% for transaction in transaction_list %}
        <tbody class="table-group-divider">
            <tr
            class="table-{{ transaction.entries.account.color_code }} position-relative"
            >
                <td>{{ transaction.date }}</td>    
                <td>
                    <a href="{% url "transaction_detail" transaction.slug %}" class="stretched-link text-decoration-none text-uppercase text-dark">
                        {{ transaction.slug }}
                    </a>
                </td>
                <td>{{ transaction.description }}</td>
                <td>{% if transaction.has_receipt %}<i class="bi bi-check-circle success"></i>{% else %}<i class="bi bi-dash-circle-dotted"></i>{% endif %}</td>
                <td>{{ transaction.total_amount }}</td>
            </tr>
        </tbody>
        {% empty %}
        <tbody class="table-group-divider">
            <tr
            class="table-light"
            >
            <td colspan=6 class='text-danger'>No Transaction in record</td>
        </tr>
        </tbody>
        {% endfor %}
        <tfoot>
            <tr>
                <td colspan=4>total</td>
                <td>#</td>
            </tr>
        </tfoot>
    </table>
</div>