{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Transaction Records{% endblock title %}

{% block content %}
<div class="row my-3">
    <h2 class="text-muted col-8">Transaction List</h2>
    <a class="btn btn-success col-4" href="{% url "transaction_create" %}">Add Reckon</a>
</div>
<hr />
<div class='container'>
    <form method="get" action="{% url "transaction_list" %}" class='d-flex my-2'>
        <input class='form-control me-2' type="date" name="created" value="{{ request.GET.created|escape }}">
        <input class='form-control me-2' type="search" name="keyword" value="{{ request.GET.keyword|escape }}"placeholder='Enter keyword'>
        <input class="btn btn-success" type="submit" value="Search">
    </form>
</div>
<div
        class="table-responsive-md"
    >
        <table
            class="table table-hover table-light align-middle"
        >
            <thead class="table-light">
                <tr>
                    <th>Date</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Receipt</th>
                    <th>Amount</th>
                </tr>
            </thead>
            {% for transaction in transaction_list %}
            <tbody class="table-group-divider">
                <tr
                class="table-{{ transaction.entries.account.color_code }} position-relative"
                >
                    <td>{{ transaction.date }}</td>    
                    <td>
                        <a href="{% url "transaction_detail" transaction.slug %}" class="stretched-link text-decoration-none text-uppercase text-dark">
                            {{ transaction.slug }}
                        </a>
                    </td>
                    <td>{{ transaction.description }}</td>
                    <td>{% if transaction.has_receipt %}<i class="bi bi-check-circle success"></i>{% else %}<i class="bi bi-dash-circle-dotted"></i>{% endif %}</td>
                    <td>{{ transaction.total_amount }}</td>
                </tr>
            </tbody>
            {% empty %}
            <tbody class="table-group-divider">
                <tr
                class="table-light"
                >
                <td colspan=6 class='text-danger'>No Transaction in record</td>
            </tr>
            </tbody>
            {% endfor %}
            <tfoot>
                <tr>
                    <td colspan=4>total</td>
                    <td>#</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}