{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Transaction Records{% endblock title %}

{% block content %}
<div class="row my-3">
    <h2 class="text-muted col-8">Transaction List</h2>
    <a class="btn btn-success col-4" href="{% url "transaction_create" %}">Add Reckon</a>
</div>
<hr />
<div class='container'>
    <form method="get" action="{% url "transaction_list" %}" class='d-flex my-2'>
        <input class='form-control me-2' type="date" name="created" value="{{ request.GET.created|escape }}">
        <input class='form-control me-2' type="search" name="keyword" value="{{ request.GET.keyword|escape }}"placeholder='Enter keyword'>
        <input class="btn btn-success" type="submit" value="Search">
    </form>
</div>
<div
        class="container"
    >
    {% include "transactions/the_table.html" %}
</div>
{% endblock content %}